audio {
  width: 100%;
}

pre.code-example {
  display: none;
}

@media only screen and (min-width: 750px) {
  pre {
    &.code-example {
      display: block;
      white-space: nowrap;
      background-color: #f8f8f8;
      border-top: 1px solid #eee;
      span {
        display: block;
        &.indent-1 {
          padding-left: 2em;
        }
        &.indent-2 {
          padding-left: 4em;
        }
      }
    }
  }
}