.navbar {
  position: fixed;
  background-color: #FFF;
  height: 55px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 15px;
    font-size: 12pt;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 13px 16px 7px;
        color: #be2791;
        text-decoration: none;
        font-size: 17pt;
        text-transform: uppercase;
        margin: 0 -2px;
        &:hover {
          border-bottom: 8px solid #be2791;
        }
      }
    }
  }
}