* {
	box-sizing: border-box;
}
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
	background-color: $body-background;
}


* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}


img {
	width: 100%;
	height: auto;
}

.container {
	margin-top: 55px;
	padding: 25px;
}





.z-1 {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.37);
  }

.z-2 {
  box-shadow: 0 2px 5px rgba(0,0,0,0.26); }
