* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-background;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #212121;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 55px;
  padding: 25px;
}

.z-1 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
}

.z-2 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
